@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    background-color: black;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~ BACKGROUND IMAGES ~~~~~~~~~~~~~~ */
.index-bg{
    background-image: url("../assets/images/sanfrancisco.webp");
}

.minich1-bg{
    background-image: url("../assets/images/berkeley.jpg");
}

.minich2-bg{
    background-image: url("../assets/images/davis.png");
}

.minich3-bg{
    background-image: url("../assets/images/fresno.jpg");
}

.minich4-bg{
    background-image: url("../assets/images/laketahoe.jpg");
}

.minich5-bg{
    background-image: url("../assets/images/lodi.jpg");
}

.minich6-bg{
    background-image: url("../assets/images/losangeles.png");
}

.minich7-bg{
    background-image: url("..//assets/images/sacramento.png");
}

.minich8-bg{
    background-image: url("../assets/images/sandiego.webp");
}

.minich9-bg{
    background-image: url("../assets/images/santabarbara.png");
}

/* ~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~ */
.navbar{
    background-color: rgba(0, 0, 0, .8);
    height: 6rem;
}

.nav-link{
    font-family: Inter;
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-link:hover{
    text-decoration: underline;
    color: white;
}

.navbar-brand{
    font-family: Inter;
    font-size: 2rem;
    color: white;
    padding-left: 27px;
}

.navbar-brand:hover{
    text-decoration: underline;
    color: white;
}

/* ~~~~~~~~~~~~~~ INDEX PAGE STYLING ~~~~~~~~~~~~~~ */
.staging-area{
    background-color:rgba(0, 0, 0, .8);
    width: 94rem;
    max-width: 94rem;
    height: 40rem;
    margin-top: 7.5rem;
}

.index-page-tiles{
    background-size: cover;
    width: 30rem;
    height: 12rem;
    margin: .5rem;
}

.index-page-tiles-padding1{
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.index-page-titles-padding2{
    padding-left: .5rem;
    padding-right: .5rem;
}

.index-page-titles-txt-area{
    background-color: rgba(217, 217, 217, .8);
    margin-top: 3rem;
    padding-left: 2rem;
    font-family: Inter;
    font-size: 2rem;
    font-color: black;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
}

.page-links{
    color: black;
}

.page-links:link{
    text-decoration: none;
}

.page-links:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.page-links:hover{
    text-decoration: underline;
    color: black;
}

.page-links:active{
    color: black;
}

/* ~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */
.footer{
    background-color: rgba(0, 0, 0, .8);
    height: 6rem;
    font-family: Inter;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}


/* ~~~~~~~~~~~~~~ SUBPAGE STYLING ~~~~~~~~~~~~~~ */
.body-txt{
    font-family: Inter;
    font-size: 3rem;
    color: white;
}

.body-txt-2{
    font-family: Inter;
    font-size: 2rem;
    color: white;
}

.body-spacing-1{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.body-spacing-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

.body-spacing-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1270px;
}

.body-spacing-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1472px;
}

.mad-lib-title{
    margin-top: 29px;
    margin-bottom: 29px;
}

.directory-column-ordering{
    display: flex;
    direction: column;
    width: 50%;
}

.directory-row-ordering{
    display: flex;
    direction: row;
}

.default-form{
    height: 80px;
    font-style: Inter;
}

.hello-form{
    width: 838px;
}

.add-two-nums-form{
    width: 250px;
}

.askingQs-form{
    width: 528px;
}

.mad-lib-form{
    width: 480px;
    margin-bottom: 1rem;
}

.odd-even-form{
    width: 318px;
}

.reverse-form{
    width: 1000px;
    height: 200px;
    text-align: top;
}

.directory-form{
    width: 395px;
    margin-top: 6px;
    margin-bottom: 26px;
}

.form-control{
    font-size: 3rem;
}

.submit-btn{
    height: 80px;
    background-color: #FFA6A6;
    font-size: 3rem;
    font-family: Inter;
    font-color: black;
}

.add-two-nums-btn{
    width: 250px;
    height: 80px;
}

.askingQs-btn{

}

.mad-lib-btn{
    width: 480px;
    margin-bottom: 1rem;
}

.directory-btn{
    width: 395px;
}

.restaurant-btn{
    height: 80px;
    width: 320px;
    background-color: #D9D9D9;
    font-size: 3rem;
    font-family: Inter;
    font-color: black;
    margin: 12px;
}